<!DOCTYPE html>
<html>
<head>
    <title>Config</title>
</head>
<body>
    <form method="post" action="/config?username={{.Username}}">
        <label for="google_calendar_id">Google Calendar ID:</label>
        <input type="text" id="google_calendar_id" name="google_calendar_id" value="{{.GoogleCalendarID}}" required><br>

        <label for="access_token">Access Token:</label>
        <input type="text" id="access_token" name="access_token" value="{{.AccessToken}}"><br>

        <label for="refresh_token">Refresh Token:</label>
        <input type="text" id="refresh_token" name="refresh_token" value="{{.RefreshToken}}"><br>

        <input type="submit" value="Save">
    </form>
</body>
</html>
